// Define variables for your color scheme
$color-first: #f2cc8f;
$color-second: #81b29a;
$color-third: #3d405b;
$color-fourth: #e07a5f;
$color-fifth: #f4f1de;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
