<div class="container">
  <%= render "pages/searchbar" %>
  <div class="course-index-cover-section">
    <div class="course-index-cover-word">
      <h1> My Favorites </h1>
    </div>
    <div class= "course-index-cover-photo-wrapping">
      <%= image_tag "superbaby.png", class: "course-index-cover-photo" %>
    </div>
  </div>
  <div class="row">
    <% @favorites.each do |favorite| %>
      <%= render "pages/card", course: favorite.course%>
    <% end %>
  </div>
</div>
