// Specific CSS for your home-page
@import "components/navbar";

@media only screen and (max-width: 768px) {
  .home-landing-content {
    flex-direction: column;
  }
  .home-teacher,
  .home-student {
    width: 100% !important;
  }
  .home-custom-btn {
    position: absolute;
    top: 70% !important;
    left: 50%;
    z-index: 5;
    padding: 3px !important; /* Adjust padding for size */
    font-size: 1.3rem;
    width: 60% !important;
  }
  .home-topic {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 1.3em !important;
    }
  }
}
.home-landing-content {
  display: flex;
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}
.home-teacher-pic,
.home-student-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-teacher,
.home-student {
  width: 50%; /* 確保每個部分佔據正確比例 */
  height: 100%; /* 填滿父容器高度 */
  box-sizing: border-box; /* 包含 padding */
  position: relative;
}

// <----build shadowing effect---->
.home-landing-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
// <----build shadowing effect---->

.home-topic {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
}
.home-custom-btn {
  position: absolute;
  top: 63%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  padding: 15px 20px; /* Adjust padding for size */
  font-size: 1.3rem; /* Slightly larger text */
  width: 280px;
}

.home-teacher-btn {
  border: 2px solid white; /* White outline */
  border-radius: 50px; /* Rounded corners */
  background-color: transparent; /* Transparent background */
  color: white; /* White text color */
}
.home-teacher-btn:hover {
  border: 2px solid white; /* White outline */
  border-radius: 50px; /* Rounded corners */
  background-color: $color-fourth; /* Transparent background */
  color: white; /* White text color */
  font-weight: bold;
}
.home-student-btn {
  border: 2px solid $color-fourth; /* White outline */
  border-radius: 50px; /* Rounded corners */
  background-color: $color-fourth; /* Transparent background */
  color: white; /* White text color */
}
.home-student-btn:hover {
  border: 2px solid white; /* White outline */
  border-radius: 50px; /* Rounded corners */
  background-color: transparent; /* Transparent background */
  color: white; /* White text color */
  font-weight: bold;
}

.home-sign-up {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.home-custom-sign-btn:hover {
  background-color: $color-first;
  color: black;
}
