// Import page-specific CSS files here.
@import "home";
// Import your components CSS files here.
@import "components/alert";
@import "components/avatar";
@import "components/form_legend_clear";
@import "components/navbar";
@import "components/searchbar";
@import "components/card";
@import "show";

@media only screen and (max-width: 768px) {
  .index-container {
    padding: 10px !important;
    font-size: 30% !important;
    align-items: center;
  }
  .course-index-cover-section {
    margin-bottom: 20px !important;
  }
  .course-index-hero-title {
    font-size: 5em !important;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 3px 3px 0 rgba(0, 0, 0, 0.5);
  }
}
.index-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  padding: 20px 80px 80px 80px;
  // margin-top: 20px;
}
.course-index-cover-section {
  background-color: $color-first;
  padding: 10px;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-index-cover-photo-wrapping {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 800px;
}
.course-index-cover-photo {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 400px;
}
.course-index-cover-word {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  background-color: $color-fifth;
  padding: 3%;
  height: 60%;
  min-height: 120px;
  width: 65%;
  // max-width: 800px; /* limit the maximum the width */
  // min-width: 300px; /* limit the maximum the width to prevent words from getting too small */
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

// .course-index-title-first{
//   background-color: $color-fifth;
// }
.course-index-hero-title {
  font-family: 'Bangers', cursive;
  font-size: 2.85em;
  font-weight: bold;
  color: $color-second;
  text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, 4px 4px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.course-index-cover-word h1 {
  font-size: 4em; /* use percentage for responsive design */
  font-family: 'Bangers', cursive;
}

.course-index-cover-word h3 {
  font-size: 2.3em; /* use percentage for responsive design */
}
