// Import page-specific CSS files here.
@import "home";
// Import your components CSS files here.
@import "components/alert";
@import "components/avatar";
@import "components/form_legend_clear";
@import "components/navbar";
@import "components/searchbar";
@import "components/card";
@import "show";

@media only screen and (max-width: 768px) {
  .index-container {
    padding: 10px !important;
  }
}
.index-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  padding: 20px 80px 80px 80px;
  // margin-top: 20px;
}
.course-index-cover-section {
  background-color: $color-first;
  padding: 10px;
  position: relative;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-index-cover-photo-wrapping {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%; /* use percentage for responsive design */
  max-width: 800px; /* limit screen width maximum */
}
.course-index-cover-photo {
  width: 100%; /* fill parent element */
  height: auto; /* proportional zoom in/zoom out */
  object-fit: contain; /* keep the raio and fill parent container */
  max-height: 400px; /* limit the maximum of the height */
}

.course-index-cover-word {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  background-color: $color-fifth;
  padding: 3%;
  height: 30%;
  width: 65%;
  // max-width: 800px; /* limit the maximum the width */
  // min-width: 300px; /* limit the maximum the width to prevent words from getting too small */
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

// .course-index-title-first{
//   background-color: $color-fifth;
// }
.course-index-hero-title {
  font-family: 'Bangers', cursive;
  font-size: 2.85rem;
  font-weight: bold;
  color: $color-second;
  text-shadow: -2px -2px 0 #000, 2px 2px 0 #000, 4px 4px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.course-index-cover-word h1 {
  font-size: 4vw; /* use percentage for responsive design */
  font-family: 'Bangers', cursive;
}

.course-index-cover-word h3 {
  font-size: 2vw; /* use percentage for responsive design */
}
