.open-course-bg {
  background-color: $color-third; /* 設定藍色背景 */
  padding-bottom: 5%;
  color: $color-first;
  background-image: image-url('superman-icon.png'); /* 正確使用 Rails 的資源路徑 */
  background-size: contain; /* 讓圖片完整呈現但不變形 */
  background-blend-mode: overlay; /* 讓背景圖片與藍色融合 */
  background-position: -100px center; /* 往左移動 50px */
  position: relative;
}
.open-course-btns-first {
  background-color: $color-fourth;
  border: none;
}
.open-course-btns-first:hover {
  background-color: $color-second;
  border: none;
}
