//color theme for the website
$color-first: #f2cc8f;
$color-second: #81b29a;
$color-third: #3d405b;
$color-fourth: #e07a5f;
$color-fifth: #f4f1de;

// set the search bar to be the most right side of the screen
.course-show-search-bar-wrapping {
  padding-right: 0;
}
.course-show-search-bar-container {
  margin-right: 0;
}
// set the search bar to be the most right side of the screen

.course-show-cover{
  background-color: $color-third;
  padding-top: 60px;
  padding-right: 100px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.course-show-title{
  color: $color-first;
  margin-top: 3%;
}
.course-show-location{
  color: lightgray;
  font-style: oblique;
  font-size: 1.2rem;
  font-weight: bold;
}

.course-show-description{
  color: white;
  font-size: larger;
}

.course-show-main-info{
  // border: 2px solid white;
  width: 70%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1%;
}

.course-show-tags{
  display: flex;
}
.course-show-tag-first{
  border-radius: 50px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  border: 2px solid white;
  color: white;
}
.course-show-tag-first.physical_enhancement {
  background-color: #218380;
}
.course-show-tag-first.mental_willpower{
  background-color: #ff499e;
}
.course-show-tag-first.nature_manipulation{
  background-color: #936639;
}
.course-show-tag-second{
  border-radius: 50px;
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  background-color: $color-second;
  border: 2px solid white;
  color: white;
}
// if this course is not online, then don't show the online tag
.course-show-toggle{
  display: none;
}
.course-show-tag-third{
  border-radius: 50px;
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  background-color: $color-fourth;
  border: 2px solid white;
  color: white;
}
.course-show-price-tag{
  background-color: white;
  padding: 0;
  margin-top: 80px;
  width: 300px;
  height: 530px;
  z-index: 100;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  position: sticky;
  top: 0;

}

.course-show-details{
  height: 500px;
  width: 600px;
  margin-left: 5%;
}
.course-show-syllabus {
  font-size: 25px;
  margin-bottom: 20px;
}

.course-show-tag-info{
  color: $color-third;
  margin: 10px;
}

.price-btn{
  border: 2px solid white; /* White outline */
  // border-radius: 50px;    /* Rounded corners */
  background-color: $color-fourth; /* Transparent background */
  color: white;           /* White text color */
}
.price-btn:hover, .price-btn-only:hover{
  border: 2px solid $color-fourth; /* White outline */
  // border-radius: 50px;    /* Rounded corners */
  background-color: white; /* Transparent background */
  color: $color-fourth;           /* White text color */
}
.course-photo{
  width: 300px;
  height: 300px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.course-show-heart {
  color: gray;
}
.course-show-btns {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 5%;
}
.price-btn-only {
  border: 2px solid white; /* White outline */
  // border-radius: 50px;    /* Rounded corners */
  background-color: $color-fourth; /* Transparent background */
  color: white;
  padding-left: 4%;
  padding-right: 5%;
  width: 250px !important;
}
.course-show-heart{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.btn-group{
  display: flex;
  justify-content: space-between;
}

.course-show-cover-page-instructor-wrapping {
  width: 800px;
  height: 800px;
  position: relative;
}
.course-show-cover-page-instructor {
  width: 100%; /* 繼承父容器的寬度 */
  height: 100%; /* 繼承父容器的高度 */
  object-fit: cover; /* 等比例縮放，填滿容器 */
}


.course-show-cover-page-description {
  z-index: 1000;
}

.text-overlay {
  position: absolute;
  width: 50%;
  top: 36%;
  left: 36%;
  color: black;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
  text-wrap: wrap;
  margin: 10px;
}
