//color theme for the website
$color-first: #f2cc8f;
$color-second: #81b29a;
$color-third: #3d405b;
$color-fourth: #e07a5f;
$color-fifth: #f4f1de;

@media only screen and (max-width: 768px) {
  .course-show-description{
    width: 100% !important;
  }
  .course-cover-page {
    align-items: center !important;
  }
  .course-show-cover {
    padding: 20px;
  }
  .course-show-syllabus {
    h2 {
      font-size: 40px !important;
    }
    p {
      font-size: 20px !important;
    }
  }
  .course-show-bottom-wrapper {
    h2 {
      font-size: 30px !important;
    }
  }
}
// set the search bar to be the most right side of the screen
.course-show-search-bar-wrapping {
  padding-right: 0;
}
.course-show-search-bar-container {
  margin-right: 0;
}
// set the search bar to be the most right side of the screen

.course-show-cover{
  background-color: $color-third;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  width: 100%;
  align-items: flex-start;
}
.course-show-main-info{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.course-show-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}
.course-show-bottom-wrapper {
  padding: 0 40px;
}
.course-show-price-tag{
  background-color: white;
  padding: 0;
  width: 300px;
  height: 530px;
  z-index: 100;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 80px;

}
.course-show-price-tag-mobile {
  background-color: white;
  padding: 0;
  width: 300px;
  height: 530px;
  z-index: 100;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.course-show-title{
  color: $color-first;
  margin-top: 3%;
  font-size: 2em;
  width: 100%;
}
.course-show-location{
  color: lightgray;
  font-style: oblique;
  font-size: 1.2rem;
  font-weight: bold;
}

.course-show-description{
  color: white;
  font-size: larger;
  margin-bottom: 10px;
}


.course-show-tags{
  display: flex;
}
.course-show-tag-first{
  border-radius: 50px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  border: 2px solid white;
  color: white;
}
.course-show-tag-first.physical_enhancement {
  background-color: #218380;
}
.course-show-tag-first.mental_willpower{
  background-color: #ff499e;
}
.course-show-tag-first.nature_manipulation{
  background-color: #936639;
}
.course-show-tag-second{
  border-radius: 50px;
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  background-color: $color-second;
  border: 2px solid white;
  color: white;
}
// if this course is not online, then don't show the online tag
.course-show-toggle{
  display: none;
}
.course-show-tag-third{
  border-radius: 50px;
  margin-left: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  background-color: $color-fourth;
  border: 2px solid white;
  color: white;
}

.course-show-details{
  height: 500px;
  width: 600px;
  margin-left: 5%;
}
.course-show-syllabus {
  font-size: 25px;
  margin-bottom: 20px;
}

.course-show-tag-info{
  color: $color-third;
  margin: 10px;
}

.price-btn{
  border: 2px solid white;
  background-color: $color-fourth;
  color: white;
}
.price-btn:hover, .price-btn-only:hover{
  border: 2px solid $color-fourth;
  // border-radius: 50px;
  background-color: white;
  color: $color-fourth;
}
.course-photo{
  width: 300px;
  height: 300px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.course-show-heart {
  color: gray;
}
.course-show-btns {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 5%;
}
.price-btn-only {
  border: 2px solid white;
  background-color: $color-fourth;
  color: white;
  padding-left: 4%;
  padding-right: 5%;
  width: 250px !important;
}
.course-show-heart{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.btn-group{
  display: flex;
  justify-content: space-between;
}

.course-show-cover-page-instructor-wrapping {
  width: 800px;
  height: 800px;
  position: relative;
}
.course-show-cover-page-instructor {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.course-show-cover-page-description {
  z-index: 1000;
}

.text-overlay {
  position: absolute;
  width: 50%;
  top: 36%;
  left: 36%;
  color: black;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
  text-wrap: wrap;
  margin: 10px;
}
