.teacher-course-title {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  font-weight: bold;
  color: $color-third;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top:1rem;
}

.teacher-course-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2em;
  width: 100%;
  height: 0.8em;
  background: rgba(255, 255, 0, 0.6);
  z-index: -1;
  border-radius: 10px;
}
.syllabus {
  color: $color-fourth;
  font-weight: bold;
}
.approval-box{
  border: 3px dotted $color-third;
  padding-left: 5px;
}

.teacher-course-btn {
  background-color: $color-third;
  border: none;
  margin-bottom: 0;
}
.teacher-course-btn:hover {
  background-color: $color-second;
  border: none;
  margin-bottom: 0;
}
.approval-btn {
  margin-left: 5px;
}

.accepted {
  background-color: yellow;
}
.rejected {
  background-color: lightgray;
}
