<div class="container">
  <%= render "pages/searchbar" %>
  <div class="course-index-cover-section">
    <div class="course-index-cover-word">
      <h1> My Bookings </h1>
    </div>
    <div class= "course-index-cover-photo-wrapping">
      <%= image_tag "superbaby.png", class: "course-index-cover-photo" %>
    </div>
  </div>
  <div class="row">
    <% if current_user %>
      <% current_user.bookings.each do |booking| %>
        <% course = booking.course %>
            <%= render "pages/card", course: course %>
      <% end %>
    <% end %>
  </div>
</div>
