
<div class="row w-100">
  <div class="ms-auto col-md-8 my-3">
    <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search your next superhero course..."
        %>
      <%= button_tag type: 'submit', class: "btn home-custom-sign-btn" do %>
        <i class="fas fa-search"></i>
      <% end %>

    <% end %>
  </div>
</div>
