
<div class="home-landing-content">
  <div class="home-teacher">
    <%= image_tag "teacher.jpeg", class: "home-teacher-pic"%>
    <div class="home-topic">
      <h2>FOR INSTRUCTORS</h2>
    </div>
    <div class="button">
      <%= link_to new_course_path do %>
        <button type="button" class="home-custom-btn home-teacher-btn">Start a class today!</button>
      <% end %>
    </div>
  </div>
  <div class="home-student">
    <%= image_tag "student.jpeg", class: "home-student-pic" %>
    <div class="home-topic">
      <h2>FOR STUDENTS</h2>
    </div>
    <div class="button">
      <%= link_to courses_path do %>
        <button type="button" class="home-custom-btn home-student-btn">Take a class today!</button>
      <% end %>
    </div>
  </div>
</div>
