<div class="index-container">
  <%= render "pages/searchbar" %>
  <div class="course-index-cover-section">
    <div class="course-index-cover-word">
      <h1> Welcome to SuperHeroAcademy! </h1>
      <h3> You can check your current progress <%= link_to "here", bookings_path %> and keep going on your way to become a hero!</h3>
    </div>
    <div class= "course-index-cover-photo-wrapping">
      <%= image_tag "superbaby.png", class: "course-index-cover-photo" %>
    </div>
  </div>
  <div class="course-index-title-first">
    <h1 class="course-index-hero-title">Pick your superpower!</h1>
  </div>
  <div class="row">
    <% @courses.each do |course| %>
      <%= render "pages/card", course: course%>
    <% end %>
  </div>
</div>
