@media only screen and (max-width: 768px) {
  .course-index-card-level {
    font-size: 1rem;
    margin: 3px 0;
  }
}

.course-index-fixed-card {
  width: 100%;
  height: 370px; /* set fixed height */
  border: 10px solid #2f3e46; /* White outline */
  border-radius: 5%;
  display: flex; /* use flex to adjust content */
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* avoid content overflow */
}
.course-index-fixed-card.physical_enhancement, .course-index-btn.physical_enhancement a {
  background-color: #218380;
}
.course-index-fixed-card.mental_willpower, .course-index-btn.mental_willpower a {
  background-color: #ff499e;
}
.course-index-fixed-card.nature_manipulation, .course-index-btn.nature_manipulation a {
  background-color: #936639;
}
.course-index-heart.physical_enhancement {
  color: #218380;
}
.course-index-heart.mental_willpower {
  color: #ff499e;
}
.course-index-heart.nature_manipulation {
  color: #936639;
}

.course-index-card-title {
  margin-bottom: 0;
  font-size: 1.3rem;
  box-shadow: 0 2.5px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: white;
  white-space: nowrap; /* prevent words from changing lines */
  overflow: hidden; /* avoid content overflow */
  text-overflow: ellipsis;
}
.course-index-card-level {
  text-align: right;
  color: white;
}

.course-index-card-photo {
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  height: 50%;
  width: 100%;
}

.course-index-card-img {
  height: 100%; /* 圖片高度與父容器對齊 */
  width: 100%; /* 圖片寬度與父容器對齊 */
  object-fit: cover; /* 等比例填滿，裁剪超出的部分 */
  display: block; /* 移除潛在的空隙 */
}

.course-index-card-body {
  border-radius: 5%;
  margin-top:5%;
  height: 30%;
  padding: 2%;
  overflow: hidden;
  position: relative;
}
.course-index-card-body.physical_enhancement {
  background-color: #a4c3b2;
}
.course-index-card-body.mental_willpower {
  background-color: #ffc2d4;
}
.course-index-card-body.nature_manipulation {
  background-color: #ddb892;
}

.course-index-card-teacher {
  font-size: 15px;
  margin-bottom: 0;
  color: black;
}

.course-index-card-text {
  font-size: 1.5rem;
  font-weight: bold;
}

// buttons
.course-index-card-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: absolute ;
  right: 5%;
  bottom: 5%;
}

.course-index-btn {
  width: 20%;
  height: 5%;
  color: white;
  border-radius: 10%;
  margin-right: 5%;
}
.course-index-btn a {
  display: inline-block;
  color: #fff; /* 白色文字 */
  text-decoration: none;
  padding: 4px 8px; /* 調整按鈕大小 */
  font-size: 1rem; /* 調整字體大小 */
  border-radius: 10px; /* 圓角 */
}

.course-index-heart {
  font-size: 30px; /* 圖標大小 */
  cursor: pointer;
}
.fas {
  color: red;
}
.fa-heart{
  size: 50px;
}
